@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
header{
	background-color: black;
}
.navbar{
	padding-left: 12px;
}
.navbar-custom{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: black;
}
.navbar-toggler-icon{
	height: 40px;
	width: 40px;
}
.menu{
	height: 40px;
	width: 40px;
}
nav ul{
	list-style-type: none;
	padding-left: 0;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
.nav-link{
	color: #adadad;
}
.active{
	color: white;
}
nav a:hover{
	color: #FFA100;
}
nav a:active{
	color: purple;
}
.logo{
	height: 100px;
	width: 300px;
}
main{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 0;
	text-align: center;
	background-color: #282828;
}
.headshot{
	max-width: 100%;
}
.description{
	padding-top: 70px;
	font-family: 'Montserrat', sans-serif;
	font-size: 31px;
	color: white;
}
.img1{
	height: 600px;
	width: 400px;
	margin: auto;
	background-image: url(images/dreamscape.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}
.img2{
	height: 600px;
	width: 400px;
	margin: auto;
	background-image: url(images/collage.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.img3{
	height: 600px;
	width: 400px;
	margin: auto;
	background-image: url(images/poster.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}
.img4{
	height: 600px;
	width: 400px;
	margin: auto;
	background-image: url(images/vector.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.vid1{
	position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img6{
	height: 600px;
	width: 400px;
	margin: auto;
	background-image: url(images/mixer-brush.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.img-description{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
}
.vid-description{
	padding-top: 600px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
}
.resume{
	font-family: 'Roboto Mono', monospace;
	color: #20D830;
}
.head{
	font-size: 20px;
	margin-bottom: 5px;
}
.um{
	margin: 0;
}
footer{
	margin-top: 0;
	background-color: black;
	height: 140px;
	text-align:center;
}
@media only screen and (max-width: 446px){
	.logo{
	height: 50px;
	width: 150px;
	}
	.navbar-toggler-icon{
	height: 25px;
	width: 25px;
	}
	.menu{
	height: 25px;
	width: 25px;
	}
	.img1{
		width: auto;
	}
	.img2{
		width: auto;
	}
	.img3{
		width: auto;
	}
	.img4{
		width: auto;
	}
	.img6{
		width: auto;
	}
}
/*Media query for smartphones*/
@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}
	.description{
	font-size: 21px;
	}
}
/*Media query for tablets*/
@media only screen and (max-width: 1024px){
	h1{
		font-size: 1.8em;
	}
}
@media only screen and (min-width: 1200px){
	.img1{
		width: auto;
	}
	.img2{
		width: auto;
	}
	.img3{
		width: auto;
	}
	.img4{
		width: auto;
	}
	.img6{
		width: auto;
	}
}